header{
    background-color: #F6D4F5;
}

.topbar{

}

.container{

}

#cart{

}

.right{

}

.clear{

}

.left{

}

.fa{

}

.fa-shopping-cart{

}

#slider{

}

h2{
    background-color: #F6D4F5;
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#select{

}
.escarpin{

}

#news{

}

#new{

}

#best{

}

#crush{

}

#info{

}

.fa-lock{

}

.fa-truck{

}

.fa-money{

}

.fa-phone{

}

.fa-check-circle{

}

#bottombar{
    
}