body{
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    color: #0B0B0B;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header{
    background-color: #F6D4F5;
}

.topbar{
    background-color: #0B0B0B;
    color: #F6D4F5;
    display: flex;
    padding: 0.5em;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between
}

nav a{
    text-decoration: none;
    flex: 1;
    text-align: center;
    color: #0B0B0B;
    margin: 20px 0px;
    transition-duration: 0.2s;
}

nav a:hover{
    background-color: rgb(53,50,50);
    color: white;
    transition: all 0.1s ease 0s;
}

.container{
    margin: 0 auto;
    width: 75%;
    max-width: 1500px;
}

#cart{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#cart p {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.right{
    float: right;
}

.left{
    float: left;
}

main{
    margin:0 auto;
    padding: 30px 0; 
}

#slider{
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: white;
    padding: 15px;
}

#slider h2{
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #F6D4F5;
    position: absolute;    
    margin: 0;
    padding: 15px;
}

#slider h2 span{
    font-size: 70%;
    font-weight: 400;
}

#slider img{
    margin: 0 auto;
    width: 100%;
}

#select{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin: 15px 0;
    background-color: white;
    padding: 15px
}

#escarpin{
    display: flex;
    justify-content: space-between;
}

.escarpin img{
    width: 150px;
    height: 150px;
}

.escarpin{
    opacity: 0.5;
    width: 100%;
    text-align:center;
    transition: all 0.2s ease 0s;
}

.escarpin:hover{
    opacity: 1;
}

#news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

#new{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: white;
    padding: 15px;
    text-align: center;
}

#new h2{
    text-align: start;
    padding: 5px;
    background-color:#ea35bf;
    color: white;
    margin: 5px 0;
}

#new:hover{
    scale: 1.2;
    cursor: pointer;
}

#best{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: white;
    padding: 15px;
    text-align: center;
}

#best h2{
    text-align: start;
    padding: 5px;
    background-color:#91BD42;
    color: white;
    margin: 5px 0;
}

#best:hover{
    scale: 1.2;
    cursor: pointer;
}

#crush{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: white;
    padding: 15px;
    text-align: center;
}

#crush h2{
    text-align: start;
    padding: 5px;
    background-color:#0098B0;
    color: white;
    margin: 5px 0;
}

#crush:hover{
    scale: 1.2;
    cursor: pointer;
}

footer{
    box-sizing: border-box;
    width: 100%
}

#info{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: #E3ADE1;
    padding: 25px;
}

#info article{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #0B0B0B;
    transition: all 0.2s ease 0s;
}

#info article:hover{
    color: white;
    cursor: pointer;
}

#bottombar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: #F6D4F5;
}

#bottombar article{
    text-align: center;
}

ul li{
    list-style-position: inside;
    list-style: none;
    position: relative;
    left: -20px;
    line-height: 35px;
    color: #0B0B0B;
}

ul li:hover{
    color: #ea35bf;
    cursor: pointer;
}

@media screen and (max-width:640px) {

    .container{
        text-align: center;
        padding: 20px 0;
    }

    #cart{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav a{
        margin: 0;
        padding: 15px;
    }

    #slider h2{
    opacity: 1;
    position: static;
    margin: 0 0 15px 0;
}

    #escarpin{
        margin-top: 15px;
        flex-direction: column;
    }

    .escarpin{
        padding: 15px 0;
    }

    #news{
        flex-direction: column;
    }

    #new:hover{
        scale: 1;
    }

    #best:hover{
        scale: 1;
    }

    #crush:hover{
        scale: 1;
    }

    #info{
        flex-direction: column;
    }

    #info article{
        padding: 15px 0;
    }

    #bottombar{
        flex-direction: column;
        padding: 15px 0;
    }

}